.Footer {
    width: 550px;
    padding: 25px;
    border: 1.7px solid black;
    display: flex;
    flex-direction: column;
}

.Footer p:nth-child(1) {
    text-align: justify;
}

.Footer p:nth-child(2) {
    margin-top: 35px;
}

.Footer p:nth-child(3) {
    font-size: 11px;
    font-style: italic;
}